@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Momo+Trust+Display&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-family-outfit: "Outfit", sans-serif;

  --font-family-bellefair: "Bellefair", serif;
  --font-family-momo: "Momo Trust Display", sans-serif;

  --color-primary-grey: #828282;
  --color-primary-black: #000e10;
  --color-primary-green: #013941;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "clashdisplay";
  src: url("/font/OTF/ClashDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: outfit, sans-serif;
}

button {
  cursor: pointer;
}
